<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true"
         convertDeprecationsToExceptions="true"
         executionOrder="depends,defects"
         testSuiteLoaderClass="Pest\TestSuiteLoader"
         cacheResult="true"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="Default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
